.header {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.primary-navigation {
  display: flex;
  justify-content: center;
  max-width: 380px;
  width: 100%;
  padding: 1rem;
  border-radius: 5rem;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  backdrop-filter: blur(12px);
  pointer-events: auto;
}

.navigation-link{
  ul{
    display: flex;
    gap:1.5rem;
    align-items: center;
    .active{
      color: var(--color-black);
    }
    li{
      font-weight: var( --font-weight-medium);
      font-size: clamp(0.5rem, 0.54rem + 0.3vw, 0.9rem);
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:hover{
        color:var(--color-gray-800);
      }

      a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
