.section {
  background-color: var(--bg-secondary);
}

.section-info {
  text-align: center;
  margin-bottom: 2rem;

  .experience-title {
    font-size: clamp(var(--text-lg), 1.65rem + 1.125vw, var(--text-5xl));
    font-weight: var(--font-weight-light);
  }

  .experience-info {
    font-size: clamp(var(--text-sm), 0.825rem + 0.25vw, var(--text-lg));
    color: var(--color-gray-600)
  }
}

.experience-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-content: center;
  padding: 4rem 6rem;

  .position-info {
    grid-column: 1/2;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1.2rem;
    position: sticky;
    top: 12%;
    height: fit-content;

    .role {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      color: var(--color-gray-900);
    }

    .company {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-normal);
      color: var(--color-gray-600);
    }

    .duration {
      font-size: var(--text-xs);
      font-weight: var(--font-weight-light);
      color: var(--color-gray-500);
    }
  }

  .job-description {
    grid-column: 2/4;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        font-size: clamp(var(--text-sm), 0.85rem + 0.125vw, var(--text-base));
        color: var(--color-gray-600);
        font-weight: var(--font-weight-light);
      }
    }
  }

  @media (width < 760px) {
    grid-template-columns: 1fr;
    padding: 1rem;

    .position-info,.job-description{
      grid-column: unset;

    }

  }
}
