<section class="section">
  <div class="wrapper">
    <div class="section-info flow">
      <h2 class="project-title">{{ wrapperInfo.title }}</h2>
      <p class="project-info">
        {{wrapperInfo.subTitle}}
      </p>
    </div>
    <div class="card-container">
      @if (isMultipleProjects) {
        <div class="navigation-container">
          <div class="indicator-container">
            @for (_ of allProjectList; track $index) {
              <button class="indicator" (click)="handleClick.updateIndex($index)"
                      [ngClass]="{'active':currentIndex() === $index}">

              </button>
            }
          </div>
          <div class="action-btn">
          <span class="button" (click)="handleClick.prev()"> <lucide-angular [img]="icons.left"
                                                                             class="my-icon"></lucide-angular></span>
            <span class="button" (click)="handleClick.next()"> <lucide-angular [img]="icons.right"
                                                                               class="my-icon"></lucide-angular></span>
          </div>
        </div>
      }
      <app-project-card [project]="selectedProject()"/>
    </div>

  </div>
</section>
