.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--border-primary);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05),
  0 4px 6px -4px rgba(0, 0, 0, 0.07);;

  .project-image {
    padding: 2rem 1rem;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .project-info {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;


    .project-title {
      font-size: clamp(0.975rem, 0.795rem + 0.9vw, var(--text-3xl));
      font-weight: var(--font-weight-semibold);
    }

    .project-description {
      font-size: clamp(var(--text-sm), 0.825rem + 0.25vw, var(--text-lg));
      color: var(--color-gray-600);
    }

    .tech-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      .tag {
        padding-inline: 0.7rem;
        padding-block: 0.35rem;
        border-radius: 3rem;
        border: 1px solid var(--border-primary);
        color: var(--text-base);
        font-weight: var(--font-weight-medium);
        font-size: var(--text-xs);
      }
    }
    .project-note{
      font-size: var(--text-xs);
      color: var(--color-gray-600);
      font-weight: var(--font-weight-light);
    }
    .cta-btn {
      display: flex;
      align-items: center;
      gap: 1rem;

      .button {
        text-decoration: none;
        outline: none;
        cursor: pointer;
        font-size: var(--text-sm);
        font-weight: var(--font-weight-medium);
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1px solid var(--color-gray-600);
        border-radius: 0.5rem;
        background-color: var(--color-black);
        color: var(--color-white);
        gap: 1rem;

        &[data-type="secondary"] {
          background-color: var(--color-white);
          border: 1px solid var(--color-gray-600);
          color: var(--color-black);

        }

        .my-icon {
          height: 23px;
        }
      }

    }
  }

  @media (width <= 768px) {
    grid-template-columns: repeat(1, 1fr);
    .project-image {
      display: none;
    }
  }
  @media (width <= 425px) {
    .project-info {
      padding: 1rem;

      .tech-stack {
        gap: 0.7rem;
      }

      .cta-btn {
        .button {
          gap: 8px;

        }
      }
    }
  }
}
